@model ProductListingPageModel
<p id="txt-categoryId">@Model.CategoryId</p>
<p id="txt-keyword">@Model.KeyWord</p>

<!-- /SECTION -->
@section Scripts {
    <script src="~/js/product-list.js"></script>
}
<div class="breadcrumb">
    <div class="container">
        <div class="breadcrumb-inner">
            <ul class="list-inline list-unstyled">
                <li><a href="home.html">Home</a></li>
                <li class='active'>Shop</li>
            </ul>
        </div><!-- /.breadcrumb-inner -->
    </div><!-- /.container -->
</div><!-- /.breadcrumb -->
<div class="body-content outer-top-xs">
    <div class='container'>
        <div class='row'>
            <div class='col-xs-12 col-sm-12 col-md-3 sidebar'>
                @await Html.PartialAsync("~/Views/Shared/_SideBar.cshtml", Model.Categories)
            </div>
            <!-- /.sidebar -->
            <div class="col-xs-12 col-sm-12 col-md-9 rht-col">
                <!-- ========================================== SECTION – HERO ========================================= -->
                <div class="clearfix filters-container m-t-10">
                    <div class="row">
                        <div class="col col-sm-6 col-md-3 col-lg-3 col-xs-6">
                        </div>
                        <!-- /.col -->
                        <div class="col col-sm-12 col-md-5 col-lg-5 hidden-sm">
                            <div class="col col-sm-6 col-md-6 no-padding">
                                <div class="lbl-cnt">
                                    <span class="lbl">Sort by</span>
                                    <select class="input-select" id="product-order-by">
                                        @foreach (var item in Model.OrderBys)
                                        {
                                            <option value="@item.Key">@item.Value</option>
                                        }
                                    </select>
                                    <!-- /.fld -->
                                </div>
                                <!-- /.lbl-cnt -->
                            </div>
                            <!-- /.col -->
                            <div class="col col-sm-6 col-md-6 no-padding hidden-sm hidden-md">
                                <div class="lbl-cnt">
                                    <span class="lbl">Show</span>
                                    <select class="input-select" id="product-page-size">
                                        @foreach (var item in Model.SelectPageSize)
                                        {
                                            <option value="@item">@item</option>
                                        }
                                    </select>
                                </div>
                                <!-- /.lbl-cnt -->
                            </div>
                            <!-- /.col -->
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <div class="search-result-container ">
                    <div id="myTabContent" class="tab-content category-list">
                        <div class="tab-pane active " id="grid-container">
                            <div class="category-product">
                                <div class="row" id="table-content">
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- /.category-product -->

                        </div>
                    </div>

                    <div class="clearfix filters-container bottom-row">
                        <div class="text-right">
                            <div id="pagination">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.search-result-container -->

            </div>
            <!-- /.col -->
        </div>
    </div>
    <!-- /.container -->

</div>
<!-- /.body-content -->
