@using Application;
@using Application.Checkouts;
@using FinalProject.Domain.Models;
@using Newtonsoft.Json;


@{
	var checkout = TempData["checkout"] != null ? (string)TempData["checkout"] : string.Empty;
	var data = JsonConvert.DeserializeObject<ResponseResult>(checkout);
	var message = data != null ? data.Message : string.Empty;
	var status = data != null ? data.StatusCode : default;
}
@model CheckoutViewModel
<!-- BREADCRUMB -->
<p hidden id="check-out-message">@message</p>
<p hidden id="check-out-status">@status</p>

<div class="breadcrumb">
	<div class="container">
		<div class="breadcrumb-inner">
			<ul class="list-inline list-unstyled">
				<li><a href="home.html">Home</a></li>
				<li class='active'>Checkout</li>
			</ul>
		</div><!-- /.breadcrumb-inner -->
	</div><!-- /.container -->
</div><!-- /.breadcrumb -->

<div class="body-content outer-top-xs">
	<div class="container">
		@if (Model.Items != null && Model.Items.Any())
		{
			<div class="row ">
				<div class="shopping-cart">
					<div class="shopping-cart-table ">
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th class="cart-romove item">Remove</th>
										<th class="cart-description item">Image</th>
										<th class="cart-product-name item">Product Name</th>
										<th class="cart-qty item">Quantity</th>
										<th class="cart-sub-total item">Price</th>
										<th class="cart-total last-item">Subtotal</th>
									</tr>
								</thead><!-- /thead -->

								<tbody>
									@foreach (var item in Model.Items)
									{
										<tr>
											<td data-name="@item.ProductName" data-id="@item.ProductId" class="remove-item"><a href="#" title="cancel" class="icon"><i class="fa fa-trash-o"></i></a></td>
											<td class="cart-image">
												<a class="entry-thumbnail" href="/product/detail?Id=@item.ProductId">
													<img src="@item.Image" alt="">
												</a>
											</td>
											<td class="cart-product-name-info">
												<h4 class='cart-product-description'><a href="/product/detail?Id=@item.ProductId">@item.ProductName</a></h4>
											</td>
											<td class="cart-product-quantity">
												<div class="quant-input">
													<div class="arrows">
														<div class="arrow plus gradient"><span class="ir"><i class="icon fa fa-sort-asc"></i></span></div>
														<div class="arrow minus gradient"><span class="ir"><i class="icon fa fa-sort-desc"></i></span></div>
													</div>
													<input type="text" value="@item.Quantity">
												</div>
											</td>
											<td class="cart-product-sub-total"><span class="cart-sub-total-price">$@item.Price</span></td>
											<td class="cart-product-grand-total"><span class="cart-grand-total-price">$@(item.Price * item.Quantity)</span></td>
										</tr>
									}
								</tbody><!-- /tbody -->
							</table><!-- /table -->
						</div>
					</div><!-- /.shopping-cart-table -->
					<div class="col-md-7 col-sm-12 estimate-ship-tax">
						<h3 class="">Shipping Address</h3>
						<form id="frm-customer-info" method="post" action="/checkout/placeorder" class="register-form outer-top-xs" role="form">
							@Html.AntiForgeryToken()
							<div class="form-group">
								<input class="form-control unicase-form-control text-input" type="text" name="FirstName" placeholder="First Name">
							</div>
							<div class="form-group">
								<input class="form-control unicase-form-control text-input" type="text" name="LastName" placeholder="Last Name">
							</div>
							<div class="form-group">
								<input class="form-control unicase-form-control text-input" type="email" name="Email" placeholder="Email">
							</div>
							<div class="form-group">
								<input class="form-control unicase-form-control text-input" type="text" name="Address" placeholder="Address">
							</div>
							<div class="form-group">
								<input class="form-control unicase-form-control text-input" type="tel" name="PhoneNumber" placeholder="Telephone">
							</div>
							<div class="form-group">
								<input hidden id="txt-payment-method" class="input" type="number" name="PaymentMethod" value="0">
							</div>
						</form>
					</div><!-- /.estimate-ship-tax -->

					<div class="col-md-5 col-sm-12 cart-shopping-total">
						<h3 class="">Your Order</h3>
						<hr width="50%" color="green" size="50px" />
						<div class="payment-method">
							<h4 class="title">Payment Method</h4>
							@foreach (var item in Model.PaymentMethod)
							{
								<div class="input-radio">
									<input value="@item.Key" type="radio" name="payment" id="payment-@item.Key">
									<label for="payment-@item.Key">
										<span></span>
										@item.Value
									</label>

								</div>
							}

						</div>
						<div class="input-checkbox">
							<input type="checkbox" id="terms">
							<label for="terms">
								<span></span>
								I've read and accept the <a href="#">terms & conditions</a>
							</label>
						</div>
						<table class="table">
							<thead>
								<tr>
									<th>
										<div class="cart-grand-total">
											Grand Total<span class="inner-left-md">$@Model.Items.Sum(s => s.Quantity * s.Price)</span>
										</div>
									</th>
								</tr>
							</thead><!-- /thead -->
							<tbody>
								<tr>
									<td>
										<div class="cart-checkout-btn pull-right" id="btn-place-order">
											<button type="submit" class="btn btn-primary checkout-btn">PROCCED TO CHEKOUT</button>
										</div>
									</td>
								</tr>
							</tbody><!-- /tbody -->
						</table><!-- /table -->
					</div><!-- /.cart-shopping-total -->
				</div><!-- /.shopping-cart -->
			</div>
		}
		<!-- ============================================== BRANDS CAROUSEL ============================================== -->
		<div id="brands-carousel" class="logo-slider wow fadeInUp">

			<div class="logo-slider-inner">
				<div id="brand-slider" class="owl-carousel brand-slider custom-carousel owl-theme">
					<div class="item m-t-15">
						<a href="#" class="image">
							<img data-echo="assets/images/brands/brand1.png" src="assets/images/blank.gif" alt="">
						</a>
					</div><!--/.item-->

					<div class="item m-t-10">
						<a href="#" class="image">
							<img data-echo="assets/images/brands/brand2.png" src="assets/images/blank.gif" alt="">
						</a>
					</div><!--/.item-->

					<div class="item">
						<a href="#" class="image">
							<img data-echo="assets/images/brands/brand3.png" src="assets/images/blank.gif" alt="">
						</a>
					</div><!--/.item-->

					<div class="item">
						<a href="#" class="image">
							<img data-echo="assets/images/brands/brand4.png" src="assets/images/blank.gif" alt="">
						</a>
					</div><!--/.item-->

					<div class="item">
						<a href="#" class="image">
							<img data-echo="assets/images/brands/brand5.png" src="assets/images/blank.gif" alt="">
						</a>
					</div><!--/.item-->

					<div class="item">
						<a href="#" class="image">
							<img data-echo="assets/images/brands/brand6.png" src="assets/images/blank.gif" alt="">
						</a>
					</div><!--/.item-->

					<div class="item">
						<a href="#" class="image">
							<img data-echo="assets/images/brands/brand2.png" src="assets/images/blank.gif" alt="">
						</a>
					</div><!--/.item-->

					<div class="item">
						<a href="#" class="image">
							<img data-echo="assets/images/brands/brand4.png" src="assets/images/blank.gif" alt="">
						</a>
					</div><!--/.item-->

					<div class="item">
						<a href="#" class="image">
							<img data-echo="assets/images/brands/brand1.png" src="assets/images/blank.gif" alt="">
						</a>
					</div><!--/.item-->

					<div class="item">
						<a href="#" class="image">
							<img data-echo="assets/images/brands/brand5.png" src="assets/images/blank.gif" alt="">
						</a>
					</div><!--/.item-->
				</div><!-- /.owl-carousel #logo-slider -->
			</div><!-- /.logo-slider-inner -->

		</div>
	</div><!-- /.container -->
</div><!-- /.body-content -->
<!-- /SECTION -->
@section Scripts {
	<script src="~/js/checkout.js"></script>
}